/* fraunces-regular - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/fraunces-v31-latin-regular.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Fraunces';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/fraunces-v31-latin-700.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-500 - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/montserrat-v25-latin-500.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* montserrat-700 - latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/montserrat-v25-latin-700.woff2') format('woff2');
	/* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit
}

body {
	height: 100vh;
	line-height: normal;
	background-color: #F3EAE3;
	display: grid;
	place-items: center;
	font-size: 14px;
	letter-spacing: 1.5;
	font-family: Montserrat;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

button {
	padding: 0;
	cursor: pointer;
	background-color: transparent;
	border: 0;
}

.card {
	max-width: 600px;
	height: 450px;
	display: flex;
	/* margin-left: 32px; */
	/* margin-top: 104px; */

}

.card__img {
	/* display: block; */
	width: 50%;
	border-radius: 12px 0px 0px 12px;
	background-image: url('../images/image01.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.card__column {
	padding: 31px 31px 32px 31px;
	border-radius: 0px 12px 12px 0px;
	max-width: 50%;
	background-color: #F5F5F5;

}

.card__text {
	margin-bottom: 20px;
	color: #6C7289;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

.card__title {
	margin-bottom: 24px;
	max-width: 200px;
	color: #1C232B;
	font-family: Fraunces, sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 1;
	/* font-weight: 700; */
}

.card__title-mobile {
	display: none;
}

.card__info {
	margin-bottom: 26px;
	color: #6C7289;
	font-weight: 400;
	line-height: 1.64;
}

.card__box {
	margin-bottom: 27px;
	display: flex;
}

.card__new-price {
	color: #3C8067;
	font-family: Fraunces, sans-serif;
	font-size: 32px;
	font-weight: 400;
}

.card__old-price {
	color: #6C7289;
	margin-left: 27px;
	font-size: 14px;
	font-weight: 400;
	text-decoration: line-through;
	justify-content: center;
	display: flex;
	align-items: center;
}

.button {
	position: relative;
	display: flex;
	width: 238px;
	height: 48px;
	padding: 13.5px 63.59px 13.5px 89.41px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 8px;
	background: #3C8067;
	color: #FFF;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	border: none;
}

.button:before {
	position: absolute;
	content: '';
	background-image: url('../images/basket.svg');
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
	left: 64px;

}

.button:hover {
	background-color: #1B402E;
	transition: background-color 0.3s ease-in-out;
}

@media(max-width: 760px) {
	.card {
		flex-direction: column;
		max-width: 322px;
		margin-top: 30px;
		margin-left: 0;
	}

	.card__title-desktop {
		display: none;
	}

	.card__title-mobile {
		display: block;
	}

	.card__img {
		background-image: url('../images/image-mobile01.jpg');
		border-radius: 20px;
		margin-bottom: -20px;
		z-index: 1;
		height: 297px;
		width: 100%;
		background-size: cover;
	}

	.card__column {
		margin: 0 1px 0 1px;
		max-width: 100%;
		box-shadow: none;
	}

	.card__text {
		font-size: 10px;
		margin-bottom: 13px;
		letter-spacing: 3.6px;
	}

	.card__title {
		margin-bottom: 9px;
		max-width: 100%;
	}

	.card__info {
		margin-bottom: 43px;
		font-size: 16px;

	}

	.card__box {
		margin-bottom: 37px;
	}

	.card__new-price {}

	.card__old-price {
		margin-top: 9px;
		margin-left: 10px;
	}

	.button {
		padding: 16px 95px 22px 110px;
	}
}

/* 
# Front-end Style Guide ## Layout The designs were created to the following widths: - Mobile: 375px - Desktop: 1440px ## Colors ### Primary - Dark cyan: hsl(158, 36%, 37%) - Cream: hsl(30, 38%, 92%) ### Neutral - Very dark blue: hsl(212, 21%, 14%) - Dark grayish blue: hsl(228, 12%, 48%) - White: hsl(0, 0%, 100%) ## Typography ### Body Copy - Font size (paragraph): 14px ### Font - Family: [Montserrat](https: //fonts.google.com/specimen/Montserrat)
	- Weights: 500, 700 - Family: [Fraunces](https: //fonts.google.com/specimen/Fraunces)
		- Weights: 700 */